server:
  port: 4550
  shutdown: "graceful"

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  config:
    import: "optional:configtree:/mnt/secrets/rpe/"
  application:
    name: service-cp-refdata-courthearing-judges
  web:
    resources:
      add-mappings: false     # disable serving any static resources and 404 message

service:
  court-house-client:
    url: ${CP_BACKEND_URL:http://localhost}
    path: /referencedata-service/query/api/rest/referencedata/courtrooms
    cjscppuid: ${CJSCPPUID:00000000-0000-0000-0000-000000000000}

azure:
  application-insights:
    instrumentation-key: ${rpe.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}
